*{
    padding:0;
    margin:0;
}
body{
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
   
}
marquee{
    margin-top:29%;
}
@media (min-width:420px) and (max-width:720px){
    .dog{
        width:120px;
    }
    .cat{
        width:70px;
    }
    marquee{
        margin-top:95%;
    }
   
}